*{
font-family: Arial;
background-color: rgb(178, 157, 104); }
h2{
color: #9D2319;}
h1 {text-align: center;
  color: black;
}
p {
  background-color: white;
  color: black;
}
.button{
  background-color: white;
border-style: groove;
  color: black;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
