 *{
         font-family: Arial;
         background-color: rgb(178, 157, 104); }
         h1{ text-align: center;
        }
         h2 {text-align: center;
		color: #9D2319;
         }
         .center {
         margin: auto;
         width: 60%;
         border: 3px solid #73AD21;
         padding: 10px;
         }
         .button{
         text-align: center;
         background-color: white;
         border-style: groove;
         color: black;
         text-align: center;
         display: inline-block;
         cursor: pointer;
         }
