body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 87.5%;
    background-color: white;
    margin: 0 auto;
    width: 1100px;
    border: 3px solid blue;
    /*padding: 10px 20px;*/
    padding: 10px 30px 20px 30px;
}

legend {
    color: blue;
    font-weight: bold;
    margin-bottom: .8em;
}

div {
    margin-bottom: 1em;
}

label {
    float: left;
    width: 100px;
}

input,
select {
    margin-left: 1em;
    margin-right: 1em;
}

input {
    width: 14em;
}

input.left {
    width: 1em;
    padding-left: 0;
}

fieldset {
    border: none;
    margin-left: 0;
    margin-top: 1em;
    padding: 0;
}

#adults,
#children {
    width: 35px;
}

#smoking {
    width: 1em;
    margin-left: 0;
}

#policies {
    margin-left: 0;
    width: 15em;
}

#submit {
    width: 10em;
}

#dialog p {
    font-size: 85%;
}

span {
    color: red;
}

#tabs {
    min-height: 15em;
    margin-bottom: 2em;
}

#tabs-1,
#tabs-2,
#tabs-3
#tabs-4
#tabs-5 {
    margin-bottom: 0;
}
.ui-dialog-buttonset .ui-button{
    background:green;
  }
